@using ArnelAves_Exam.Models;
@{
    ViewBag.Title = "Consumer Loan Results";
}

<h2>Amortization Schedule</h2>
@*<span>@Request["TxtStartDate"]</span>
<span>@Request["TxtLoanAmount"]</span>
<span>@Request["TxtInterestRate"]</span>
<span>@Request["TxtLoanTenure"]</span>*@

<table cellspacing="0" cellpadding="0">
    <tr>
        <th style="padding: 6px 12px 6px 12px;">No.</th>
        <th style="padding: 6px 12px 6px 12px;">Date</th>
        <th style="padding: 6px 12px 6px 12px;">Principal</th>
        <th style="padding: 6px 12px 6px 12px;">Interest</th>
        <th style="padding: 6px 12px 6px 12px;">Total</th>
        <th style="padding: 6px 12px 6px 12px;">Balance</th>    
        <th style="padding: 6px 12px 6px 12px;">No. Of Days</th>
        <th style="padding: 6px 12px 6px 12px;">Interest Rate</th>
    </tr>
@foreach (var obj in Model)
{
    AmortizationSchedule amortization = (AmortizationSchedule)obj;
    string interestDisplay = (amortization.InterestRate * 100).ToString("#,##0.00") + "%";
    <tr>
        <td style="padding: 2px 12px 2px 12px; text-align: right;">@amortization.ScheduleOrderNumber</td>
        <td style="padding: 2px 12px 2px 12px; text-align: right;">@amortization.DueDate.ToString("MM/dd/yyyy")</td>
        <td style="padding: 2px 12px 2px 12px; text-align: right;">@amortization.PrincipalAmount.ToString("#,##0.00")</td>
        <td style="padding: 2px 12px 2px 12px; text-align: right;">@amortization.InterestAmount.ToString("#,##0.00")</td>
        <td style="padding: 2px 12px 2px 12px; text-align: right;">@amortization.DueAmount.ToString("#,##0.00")</td>
        <td style="padding: 2px 12px 2px 12px; text-align: right;">@amortization.RemainingBalance.ToString("#,##0.00")</td>
        <td style="padding: 2px 12px 2px 12px; text-align: right;">@amortization.DaysInterval.ToString("#,##0")</td>
        <td style="padding: 2px 12px 2px 12px; text-align: right;">@interestDisplay</td>
    </tr>
}
</table>